<div style="margin-left: 35%"><h2>Quiz Register</h2></div>
<div class="container">
  <div class="content1">
    <form [formGroup]="loginRef" (ngSubmit)="checkUser()">
        <label >Name</label>
        <input type="text" formControlName="user"/><br>
        <label >Password</label>
        <input type="password" formControlName="pass"/><br>
        <input type="reset" class="btn btn-primary" value="Reset"/>
        <input type="submit" class="btn btn-primary"  value="Submit"/>
    </form>
    <br>
    <span style="color: red;">{{msg}}</span>
  </div>
</div>
